<div class="col-md-3 tablist">
  <div class="list-group" role="tablist">
    <!-- <span class="list-group-item examples" id="for1">
      <h4>Apple Stock</h4>
      <p>Candle Stick Time Series chart</p>
    </span>
    <span class="list-group-item examples" id="for3">
      <h4>Slack Conversations</h4>
      <p>Fetch data from a JSON URL</p>
    </span>
    <span class="list-group-item examples" id="for2">
      <h4>Different Mobile OS</h4>
      <p>Manipulate Data</p>
    </span>
    <span class="list-group-item examples" id="for4">
      <h4>Web Visits and Downloads</h4>
      <p>Simple Line Series</p>
    </span>
    <span class="list-group-item examples" id="for5">
      <h4>Ebola Outbreak</h4>
      <p>Fetch and compare three differnet examples</p>
    </span> -->

    <span *ngFor="let data of chartsData"  class="list-group-item examples" (click)="onLinkClick(data)">
      <h4>{{ tsData[data].metadata.name }}</h4>
      <p>{{ tsData[data].metadata.desc  }}</p>
    </span>
  </div>
</div>
<div class="col-md-9">
  <fusiontime [dataSource]="dataSource" [width]="width" [height]="height">
    <div class="loader"></div>
  </fusiontime>
  <br>
  <div id="code-listing">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#html_code" data-toggle="tab" aria-expanded="true">HTML</a>
      </li>
      <li>
        <a href="#javascript_code" data-toggle="tab" aria-expanded="true">Javascript</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="html_code" class="tab-pane fade in active">
        <pre class="code-tab  language-markup">
  <code class="language-markup">
  &lt;fusiontime [dataSource]="dataSource" [width]="width" [height]="height"&gt;&lt;/fusiontime&gt;
  </code>
  </pre>
      </div>
      <div id="javascript_code" class="tab-pane fade">
        <pre class="code-tab">
  <code class="language-javascript">
    import {{"{"}}
      Component,
      OnInit
    {{"}"}} from '@angular/core';

    @Component({{"{"}}
      selector: 'app-mobile',
      templateUrl: './app.component.html',
      styleUrls: ['./app.component.css']
    {{"}"}})
    export class MobileComponent implements OnInit {{"{"}}
      width = "850";
      height = "450";
      dataSource = {{"{"}}{{"}"}};

      ngOnInit() {{"{"}}
        this.dataSource = {{"{"}}
        // Give the config here
        {{"}"}};
      {{"}"}}
    {{"}"}}
  </code>
  </pre>
      </div>
    </div>
  </div>

</div>
