<fusiontime [dataSource]="dataSource" [width]="width" [height]="height">
  <div class="loader"></div>
</fusiontime>
<br>
<div id="code-listing">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#html_code" data-toggle="tab" aria-expanded="true">HTML</a>
    </li>
    <li>
      <a href="#javascript_code" data-toggle="tab" aria-expanded="true">Javascript</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="html_code" class="tab-pane fade in active">
<pre class="code-tab  language-markup">
<code class="language-markup">
&lt;fusiontime [dataSource]="dataSource" [width]="width" [height]="height"&gt;&lt;/fusiontime&gt;
</code>
</pre>
    </div>
    <div id="javascript_code" class="tab-pane fade">
<pre class="code-tab">
<code class="language-javascript">
import {{ "{" }} Component, OnInit } from '@angular/core';
const res = [...];

@Component({{ "{" }}
  selector: 'app-ebola',
  templateUrl: './ebola.component.html',
  styleUrls: ['./ebola.component.css']
})
export class EbolaComponent implements OnInit {{ "{" }}
  width = "850";
  height = "450";
  dataSource = {{ "{" }}};
  ngOnInit() {{ "{" }}
    var dates = [],
      sierra = [],
      guinea = [],
      liberia = [];

    res.forEach(function(item) {{ "{" }}
      if (item.Country == "Guinea") {{ "{" }}
        guinea.push(item.value);
      }
      if (item.Country == "Liberia") {{ "{" }}
        liberia.push(item.value);
      }
      if (item.Country == "Sierra Leone") {{ "{" }}
        sierra.push(item.value);
        dates.push(item.Date)
      }
    });

    dates = dates.sort();

    this.dataSource = {{ "{" }}
      chart: {{ "{" }}
        axes: [{{ "{" }}
          x: {{ "{" }}{{ "}" }},
          y: {{ "{" }}
            name: {{ "{" }}
              label: {{ "{" }}
                text: 'Ebola Outbreak count'
              }
            }
          }
        }],
        datasets: [{{ "{" }}
          "category": {{ "{" }}
            "dateformat": "%Y-%m-%e",
            "data": dates
          {{ "}" }},
          "dataset": [{{ "{" }}
            "series": [{{ "{" }}
                "plot": {{ "{" }}
                  "type": "column"
                {{ "}" }},
                "name": "Sierra Leone",
                "data": sierra
              {{ "}" }},
              {{ "{" }}
                "plot": {{ "{" }}
                  "type": "column"
                {{ "}" }},
                "name": "Guinea",
                "data": guinea
              {{ "}" }}, {{ "{" }}
                "plot": {{ "{" }}
                  "type": "column"
                {{ "}" }},
                "name": "Liberia",
                "data": liberia
              }
            ]
          }]
        }],
        "caption": [{{ "{" }}
          "title": {{ "{" }}
            "text": "Ebola Outbreak in West Africa",
            "style": {{ "{" }}
              "font-size": "20px",
              "fill": "#545454"
            }
          {{ "}" }},
          "subtitle": {{ "{" }}
            "text": "Outbreak Distribution",
            "style": {{ "{" }}
              "font-size": "15px",
              "font-weight": "Semibold",
              "fill": "#7B7B7B"
            }
          }
        }],
        "legend": [{{ "{" }}
          layout: function(obj) {{ "{" }}
            return obj.block;
          {{ "}" }},
          position: function(obj) {{ "{" }}
            return obj.right;
          {{ "}" }},
          orientation: function(obj) {{ "{" }}
            return obj.vertical;
          {{ "}" }},
          alignment: function(obj) {{ "{" }}
            return obj.top;
          }
        }],

        "navigator": [{{ "{" }}
          hide: true
        {{ "}" }}]
      {{ "}" }}
    {{ "}" }};

  {{ "}" }}

{{ "}" }}
</code>
</pre>
    </div>
  </div>
</div>
