<fusiontime [dataSource]="dataSource" [width]="width" [height]="height">
  <div class="loader"></div>
</fusiontime>
<br>
<div id="code-listing">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#html_code" data-toggle="tab" aria-expanded="true">HTML</a>
    </li>
    <li>
      <a href="#javascript_code" data-toggle="tab" aria-expanded="true">Javascript</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="html_code" class="tab-pane fade in active">
<pre class="code-tab">
<code class="language-markup">
&lt;fusiontime [dataSource]="dataSource" [width]="width" [height]="height"&gt;&lt;/fusiontime&gt;
</code>
</pre>
</div>
<div id="javascript_code" class="tab-pane fade">
<pre class="code-tab">
<code class="language-javascript">

</code>
</pre>
    </div>
  </div>
</div>
